<h2>Question List</h2>
<% questions.each do |question| %>
  <% if !question.label.nil? %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <table>
          <tr>
            <td span="2">Title: <%= question.label %></td>
          </tr>
          <tr>
            <td>Question Type: <%= question.qns_type %></td>
            <td>
            <%= link_to 'Edit', edit_formtemplate_question_path(formtemplate_id: question.form_template, id: question) %>
            <%= link_to 'Delete', formtemplate_question_path(formtemplate_id: question.form_template, id: question), method: :delete, remote: true %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  <% end %>
<% end %>
