<h2><%= @heading %></h2>
<div class="panel panel-default">
  <div class="panel-heading">
  <h3><%= @form.title %></h3>
  </div>
  <div class="panel-body">
    <%= @form.description %>
  </div>
</div>
