<h1>Forms#index</h1>
<p>Find me in app/views/forms/index.html.erb</p>
<table class="table">
  <% @forms.each do |form| %>
    <tr>
      <td>
        <%= form.title %>
      </td>
      <td>
        <%= form.title %>
      </td>
    <tr>
  <% end %>
</table>
