

<% if current_user == @form.user || current_user.is_admin == true %>
<%= render 'forms/nav' %>
<div id="show_content">
  <%= render partial: 'forms/results' %>
</div>

<% else %>
You are not allowed!
<% end %>
